.footer-section {
    text-align: center;
    background-color: #45864b;
    color: #fff;
    padding: 10px 0;
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    p {
        font-size: 1rem;
        margin-top: 20px;
    }
    .facebook
    .instagram {
        font-size: 2rem;
    }
}

